name: Nightly Snapshot

on:
  schedule:
  - cron: "*/10 * * * *"

#  - cron: "59 23 * * *"
  workflow_dispatch:

jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Checkout branch "master"
        uses: actions/checkout@v3

      - name: Build
        run: echo ${{ steps.date.outputs.date }} > Release.txt

      - name: Test
        run: cat Release.txt

      - name: Make Snapshot
        uses: ncipollo/release-action@v1
        with:
          artifacts: "Release.txt,README.md"
          body: "Nightly snapshot release.Draft only, please use a stable release instead."
          allowUpdates: true
          draft: true
          makeLatest: false
          name: "${{ steps.date.outputs.date }} SNAPSHOT"
          removeArtifacts: true
          tag: "snapshot"
