name: Release artifacts

on:
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d%H%M')"
      - name: Build
        run: echo ${{ steps.date.outputs.date }} > Release.txt
      - name: Test
        run: cat Release.txt
      - name: Upload Release Asset 2
        uses: shogo82148/actions-upload-release-asset@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: requirements.txt
          overwrite: true
      - name: Upload Release Asset
        uses: shogo82148/actions-upload-release-asset@v1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: Release.txt
          overwrite: true
